extends ../layout


block content
    h1= currentUser ? currentUser.username : 'Hello'
    if currentUser
        a(href="/vapeshops/new") Add vapeshop
    ul
        each vapeshop in vapeshops
            li
                h1
                    a(href="/vapeshop/" + vapeshop.id)=vapeshop.name
                p= vapeshop.description
                p= vapeshop.address


    div(align='right')
        if !currentUser
            include ../logIn/logIn
        else
            h3= 'Hello ' +currentUser.name
            form(method = 'POST' action = '/logout/?_method=DELETE')
                button(type = 'submit') Logout